<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
! pip install sqlalchemy

Looking in indexes: https://artifactory.dhl.com/artifactory/api/pypi/pypi/simple
Requirement already satisfied: sqlalchemy in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
! pip install ipython-sql

Looking in indexes: https://artifactory.dhl.com/artifactory/api/pypi/pypi/simple
Requirement already satisfied: ipython-sql in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ncpon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [6]:
%load_ext sql

In [24]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [8]:
! pip install -q pandas

In [9]:
%sql sqlite:///my_data1.db

In [28]:
import pandas as pd
# df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df = pd.read_csv("Spacex.csv")
#df.head(5)
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [29]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [30]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [31]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get unique launch sites
query = "SELECT DISTINCT launch_site FROM SPACEXTBL;"

# Execute the query and fetch the results
cur.execute(query)
unique_launch_sites = cur.fetchall()

# Print the unique launch sites
for site in unique_launch_sites:
    print(site[0])

# Close the connection
con.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get 5 records where launch sites begin with 'CCA'
query = "SELECT * FROM SPACEXTBL WHERE launch_site LIKE 'CCA%' LIMIT 5;"

# Execute the query and fetch the results
cur.execute(query)
records = cur.fetchall()

# Print the records
for record in records:
    print(record)

# Close the connection
con.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [15]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get table columns information
query = "PRAGMA table_info(SPACEXTBL);"

# Execute the query and fetch the results
cur.execute(query)
columns_info = cur.fetchall()

# Print the column names
column_names = [info[1] for info in columns_info]
print("Column names:", column_names)

# Close the connection
con.close()

Column names: ['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get the total payload mass carried by boosters launched by NASA (CRS)
query = """
SELECT SUM(PAYLOAD_MASS__KG_) AS total_payload_mass
FROM SPACEXTBL
WHERE Customer == 'NASA (CRS)';
"""

# Execute the query and fetch the result
cur.execute(query)
result = cur.fetchone()

# Print the total payload mass
total_payload_mass = result[0] if result[0] is not None else 0
print("Total payload mass carried by boosters launched by NASA (CRS):", total_payload_mass, "kg")

# Close the connection
con.close()

Total payload mass carried by boosters launched by NASA (CRS): 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [17]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get the average payload mass carried by booster version F9 v1.1
query = """
SELECT AVG(PAYLOAD_MASS__KG_) AS average_payload_mass
FROM SPACEXTBL
WHERE Booster_Version = 'F9 v1.1';
"""

# Execute the query and fetch the result
cur.execute(query)
result = cur.fetchone()

# Print the average payload mass
average_payload_mass = result[0] if result[0] is not None else 0
print("Average payload mass carried by booster version F9 v1.1:", average_payload_mass, "kg")

# Close the connection
con.close()

Average payload mass carried by booster version F9 v1.1: 2928.4 kg

In [18]:
# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get the average payload mass carried by booster version F9 v1.1
query = """
SELECT * FROM SPACEXTBL LIMIT 5;
"""

# Execute the query and fetch the result
cur.execute(query)
result = cur.fetchall()

# Print the average payload mass
# Print the results
for row in result:
    print(row)

# Close the connection
con.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [19]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to get the date of the first successful landing outcome in ground pad
query = """
SELECT Date
FROM SPACEXTBL
WHERE Landing_Outcome LIKE '%Success (ground pad)%'
ORDER BY Date ASC
LIMIT 1;
"""

# Execute the query and fetch the result
cur.execute(query)
result = cur.fetchone()

# Print the date of the first successful landing outcome in ground pad
first_successful_landing_date = result[0] if result else "No successful landing found"
print("Date of the first successful landing outcome in ground pad:", first_successful_landing_date)

# Close the connection
con.close()

Date of the first successful landing outcome in ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [20]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to list the names of boosters with specific criteria
query = """
SELECT Booster_Version
FROM SPACEXTBL
WHERE Landing_Outcome LIKE '%Success (drone ship)%'
  AND PAYLOAD_MASS__KG_ > 4000
  AND PAYLOAD_MASS__KG_ < 6000;
"""

# Execute the query and fetch the results
cur.execute(query)
results = cur.fetchall()

# Print the names of the boosters
booster_names = [row[0] for row in results]
print("Boosters with successful drone ship landings and payload mass between 4000 and 6000 kg:", booster_names)

# Close the connection
con.close()

Boosters with successful drone ship landings and payload mass between 4000 and 6000 kg: ['F9 FT B1022', 'F9 FT B1026', 'F9 FT  B1021.2', 'F9 FT  B1031.2']

### Task 7




##### List the total number of successful and failure mission outcomes

In [21]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to list the total number of successful and failed mission outcomes
query = """
SELECT Mission_Outcome, COUNT(*) AS total_count
FROM SPACEXTBL
GROUP BY Mission_Outcome;
"""

# Execute the query and fetch the results
cur.execute(query)
results = cur.fetchall()

# Print the total number of successful and failed mission outcomes
for outcome, count in results:
    print(f"Mission Outcome: {outcome}, Total Count: {count}")

# Close the connection
con.close()

Mission Outcome: Failure (in flight), Total Count: 1
Mission Outcome: Success, Total Count: 98
Mission Outcome: Success , Total Count: 1
Mission Outcome: Success (payload status unclear), Total Count: 1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [32]:
con = sqlite3.connect("my_data1.db")
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [38]:
# Load the SQL extension
#%load_ext sql

# Connect to SQLite database
#import sqlite3
con = sqlite3.connect("my_data1.db")

# Register the connection with the %sql magic
%sql sqlite:///my_data1.db

# Query to list the required records
%sql SELECT strftime('%m', Date) AS Month, Booster_Version, Launch_Site, Landing_Outcome \
     FROM SPACEXTABLE \
     WHERE Landing_Outcome LIKE '%Failure%' AND Landing_Outcome LIKE '%drone ship%' AND strftime('%Y', Date) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)'),
 ('04', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [20]:
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# SQL query to rank the count of landing outcomes between specific dates in descending order
query = """
SELECT Landing_Outcome, COUNT(*) AS outcome_count
FROM SPACEXTBL
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY Landing_Outcome
ORDER BY outcome_count DESC;
"""

# Execute the query and fetch the results
cur.execute(query)
results = cur.fetchall()

# Print the landing outcomes and their counts
for outcome, count in results:
    print(f"Landing Outcome: {outcome}, Count: {count}")

# Close the connection
con.close()

Landing Outcome: No attempt, Count: 10
Landing Outcome: Success (drone ship), Count: 5
Landing Outcome: Failure (drone ship), Count: 5
Landing Outcome: Success (ground pad), Count: 3
Landing Outcome: Controlled (ocean), Count: 3
Landing Outcome: Uncontrolled (ocean), Count: 2
Landing Outcome: Failure (parachute), Count: 2
Landing Outcome: Precluded (drone ship), Count: 1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>